/* body {
    background-color: #fef5d0;
}

table {
    background-color: #fef5d0;
} */

.header .logo {
    font-size: 25px;
    line-height: 46px;
    font-weight: 700;
}

.header .logo span {
    color: #3d2803;
}