.jukebox-header .logo {
    font-size: 25px;
    line-height: 46px;
    font-weight: 700;
}

.jukebox-header .logo span {
    color: #3d2803;
}

.record {
    min-width: 40px;
}

p.title {
    margin-bottom: 0px !important;
    display: inline-block;
}

p.artist {
    margin-bottom: 0px !important;
}

img.copyBtn {
    display: inline-block;
    margin-top: -2px;
}